body{
    background-image: url('https://www.planwallpaper.com/static/images/6909249-black-hd-background.jpg');
}

b{
    color: whitesmoke;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: wheat;
}

h2{
    color: wheat;
    font-weight: bold;
    font-size: 20px;
    border: solid 2px wheat;
}

h3{
    color:whitesmoke;
}

#menu{
    background-color: brown;
    max-width: 300px;
    float: left;
    border: solid 1px salmon;
    padding: 10px;
    margin: 5px;
}

#image{
    background-color: brown; 
    width: 300px;
    border: solid 1px salmon;
    padding: 10px;
    margin-left: 40%;
    margin-right: 35%;
}

#details{
    background-color: brown;
    max-width: 500px;
    float: left;
    text-align: center;
    border: solid 1px salmon;
    padding: 10px;
    margin: 5px;
}

#resultat{
    background-color: brown;
    max-width: 500px;
    float: left;
    text-align: center;
    border: solid 1px salmon;
    padding: 10px;
    margin-left: 15%;
}

.form{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: darkred;
    border: solid 1px wheat;
}

.form2{
    text-align: center;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: darkred;
}

.divFriends{
    text-align: center;
    border: solid 2px wheat;
    margin-left: 40%;
    margin-right: 40%;
}

.para{
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: solid 1px wheat;
    margin-left: 20%;
    margin-right: 20%;
}

header{
    border : solid 2px wheat;
    color : wheat;
    font-weight: bold;
    font-size: 30 px;
    text-align: center;
    margin-top:  50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  50px;
    width: 50%;
    min-height: 80px;
}

ul{
    color: whitesmoke;
    border: dotted 3px darkslategrey;
}

img{
    max-width: 180px;
}

img:hover{
    max-width: 300px;
}

a{
    font-size: 14px;
    font-weight : bold;
    color: whitesmoke;
}

a:visited{
    font-style: italic;
    font-weight : bold;
    color: gainsboro;
}

li{
    color: wheat;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}


label.lblpass {

    color: #AA0000;
    font-weight: bolder;

}

.fondjaune{
    color : darkblue;
    background-color: yellow;
}

#lbl-nom{
    font-size: 1.5em;
    color: orange;
}